//- HTML Connection drawing
//- Possible alignments:
//- -----
//- 1. align-h-c: Horizontally centered turn
//- 2. align-v-c: Vertically centered turn
//- 3. align-l: Left aligned
//- 4. align-r: Right aligned
- var alignments = [{"title": "Horizontally Centered Turn", "align": "align-h-c"}, {"title": "Vertically Centered Turn", "align": "align-v-c"}, {"title": "Right aligned", "align": "align-r"}, {"title": "Left Aligned", "align": "align-l"}]

//- Possible directions:
//- 1. n e: Towards NE
//- 2. n w: Towards NW
//- 3. s e: Towards SE
//- 4. s w: Towards SW
- var directions = [{"title": "Towards NE", dir: "n e"},{"title": "Towards NW", dir: "n w"},{"title": "Towards SE", dir: "s e"},{"title": "Towards SW", dir: "s w"},]

div(class="demo")
  each alignment in alignments
    each direction in directions
      div(class="demo-item")
        h2= alignment.title + " " + direction.title
        div(class="roadmap-connection "+ alignment.align + " " + direction.dir, style="width:"+ (100 + Math.random()*300) + "px; height: "+ (100 + Math.random()*300) + "px;")
          .tail
          .head
          .v.l
          .v.c
          .v.r
          .h.t
          .h.c
          .h.b
   
